---
layout: default
---

<header class="masthead text-white text-center">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <h1>We are Data, Responsibly.  We study the foundations of responsible data science, and build tools that translate our insights into data science practice.</h1>
      </div>
    </div>
</header>
<div class="row">
  <span>&nbsp;</span>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img src="{{ site.baseurl }}/images/icon_fairness.png" class="img-responsive showcase-img">
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6 showcase-text">
    <h2>Fairness</h2>
    <p class="lead mb-0">Algorithms discriminate just like humans do, but at a larger scale. Technology must be informed by ethical and legal considerations.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6 showcase-text">
    <h2>Diversity</h2>
    <p class="lead mb-0">Ensuring different kinds of objects are represented in the output of an algorithmic process.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img src="{{ site.baseurl }}/images/icon_diversity.png" class="img-responsive showcase-img">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img src="{{ site.baseurl }}/images/icon_transparency.png" class="img-responsive showcase-img">
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6 showcase-text">
    <h2>Transparency</h2>
    <p class="lead mb-0">Users and regulators must be able to understand how raw data was selected, and what operations were performed during analysis.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6 showcase-text">
    <h2>Equality</h2>
    <p class="lead mb-0">Equality of opportunity and equality of outcomes enforce the similar treatment for similar people, believing the current dissimilarity is the result of past injustice.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img src="{{ site.baseurl }}/images/icon_equality.png" class="img-responsive showcase-img">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img src="{{ site.baseurl }}/images/icon_security.png" class="img-responsive showcase-img">
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-6 showcase-text">
    <h2>Data protection</h2>
    <p class="lead mb-0">Responsibility by design, managed at all stages of the lifecycle of data-intensive applications.</p>
  </div>
</div>
{{ content }}
<div class="row">
  <span>&nbsp;</span>
</div>





