---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Check our publications</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
  </div>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/index">Back to Home</a>
</p>
