---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="block">
          <h1>Talks</h1>
          <p>conference presentations, tutorials, teaching materials</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
  </div>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/index">Back to Home</a>
</p>
